@font-face {
	font-family: 'akaDylanPlain';
	src: url(./assets/akaDylanPlain.ttf) format('truetype');
}

$primary-color: #6DE5ED;

#close-icon {
	&:hover {
		fill: red;
	}
}

.pointer {
	cursor: pointer;
}

body {
	background-color: $primary-color;
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 999;
}

main {
	position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hidden {
	visibility: hidden;
}

.login-page-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3em;

	.login-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1em;
		border-radius: 0.5em;
		padding: 1em 5em;

		.title-container {
			font-size: 3em;
		}

		> form {
			font-size: 2em;
			display: flex;
			flex-direction: column;
			gap: 1.5em;
			align-items: center;
			justify-content: center;

			> div {
				display: flex;
				flex-direction: column;
				gap: 0.5em;
			}

			.user-login-info-container {
				display: flex;
				flex-direction: column;
			}

			button {
				font-family: akaDylanPlain;
				border: 0.05em solid #000;
				border-radius: 0.3em;
				padding: 0.1em 0.5em;
				font-size: 1.75em;
				background-color: #35a4ff;
			}
		}
	}
}

$logo-outline-color: #195383;
#logo {
	position: relative;
	font-family: akaDylanPlain;
	font-size: 6em;
	color: white;
	border-radius: 0.3em;
	text-shadow: .1em 0 $logo-outline-color, -.03em 0 $logo-outline-color, 0 .03em $logo-outline-color, 0 -.03em $logo-outline-color,
		.015em .015em $logo-outline-color, -.015em -.015em $logo-outline-color, .015em -.015em $logo-outline-color, -.015em .015em $logo-outline-color;
}

.base-screen {
	width: 100%;
	height: 100%;
	overflow: auto;
	background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	white-space: nowrap;

	.user-info-container {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-self: flex-end;
		margin-right: 0.5%;
		margin-top: 0.5%;
		
		.user-settings-container {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 35%;
			min-height: 25%;
			max-height: 50%;
			overflow-y: auto;
			margin: 5% auto;
			border-radius: 0.5em;
			border: 0.3em solid black;
			background-color: white;
			align-items: center;
	
			.content {
				display: flex;
				flex-direction: row;
				gap: 5%;
				flex-grow: 1;
				padding: 1em;
				cursor: auto;
	
				.profile-pictures-container {
					display: flex;
					flex-wrap: wrap;
					height: fit-content;
					flex-grow: 1;
					gap: 0.4em;
					margin-bottom: 5%;

					#user-image {
						border-radius: 5em;
					}
				}
	
				.user-container {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 0.15em;

					.menu-button {
						font-size: 20px;
					}
				}
			}
	
			#close-icon {
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
}

#home {
	#login-menu-container {
		margin-top: 5%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 6em;

		> div {
			display: flex;
			flex-direction: column;
			gap: 4em;
			text-align: center;
		}
	}

	.lobby-menu-container {
		display: flex;
		flex-direction: column;
		border: none;
		align-items: center;
		justify-content: space-evenly;
		border-radius: 0.5em;
		font-size: 3em;
		padding: .8em .6em;
		gap: 1em;
		
		button {
			width: max-content;
			font-size: 0.5em;
		}
	
		.create-lobby-container {
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			align-items: center;
		}
	
		.join-lobby-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.5em; 
		}
	
		#lobby-message {
			color: red;
			font-size: 0.5em;
		}
	}
}

.menu-button {
	background: linear-gradient(180deg, #e7939f 0%, #edafb8 50%);
	box-shadow: inset 0px -0.5em 0.15em -0.4em #ce949c, inset 0.05em 0.05em 0.3em 0.075em #f7d3d9;
	border: 0.05em solid #000;
	border-radius: 0.3em;
	padding: 0.1em 0.5em;
	font-size: 2.5em;
}

#lobby {
	.lobby-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5em;

		.menu-button {
			margin-top: 2em;
			padding: 0.3em 0.4em;
			font-size: 2em;
		}

		.lobby-title {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 1.5em;
		}

		.players-container {
			display: flex;
			gap: 1em;
			font-size: 1.5em;
		}
	}
}

.game-container {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin-bottom: 200px;

	.game-header-container {
		font-size: 2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		div {
			min-height: 1.2em;
		}
	}

	> .user-image-container {
		position: absolute;
		top: 1%;
		right: 1%;
		text-align: center;
	}

	.card {
		display: flex;
		position: relative;
		border: 2px solid black;
		border-radius: 10px;
		overflow: hidden;

		.card-info {
			position: absolute;
			bottom: 0%;
			left: 50%;
			transform: translate(-50%, 0%);
			font-size: .7em;
			white-space: nowrap;
			color: black;
		}
	}

	.conveyor-belt-container {
		position: fixed;
		width: 100%;
		height: 200px;
		bottom: 0px;
		display: flex;
		justify-content: center;

		.background-image {
			border-top: 0.2em solid #000;
			border-bottom: 0.2em solid #000;
			position: absolute;
			height: 100%;
			width: 100%;
			z-index: -1;
		}

		.player-hand-container {
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			min-width: 800px;

			#pass-to {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-left: 1%;
				margin-right: 1%;
	
				.user-container {
					display: flex;
					flex-direction: column;
					align-items: center;
				}
			}
	
			#receive-from {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin-right: 1%;
	
				.user-container {
					display: flex;
					flex-direction: column;
					align-items: center;
				}
			}
	
			.player-hand {
				margin-top: 1em;
				margin-bottom: 1em;
				display: flex;
				justify-content: center;
				gap: 5px;
				min-width: 0px;
	
				.card {
					img {
						min-width: 0px;
						max-width: 100px;
						height: auto;
					}
				}
			}
		}
	}

	.game-over-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5em;
	}
}

.relative {
	position: relative;
}

.players-overflow-container {
	height: 100%;
	overflow-y: auto;
	margin: 1em 5em;
	position: relative;

	.players-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
		gap: 1em;
		color: white;
		margin-right: 1em;
	
		.player-container {
			border-radius: 1em;
			padding: 1em;
			background-color: #4ba2bd;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 3em;
	
			.header-container {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
	
			.content-container {
				display: flex;
				justify-content: space-between;
				align-items: baseline;
				gap: 1em;
	
				.kept-cards {
					flex-grow: 1;
					display: flex;
					gap: 0.25em;
		
					.card {
						img {
							width: 80px;
							height: 120px;
						}
					}
				}
			}
		}
	}
}

.loading-container {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1em;
	width: 100%;
	height: 100%;
	font-size: 2em;
	font-family: akaDylanPlain;
}

.register-page-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 55px;
	gap: 3em;

	.register-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1em;
		border-radius: 0.5em;
		padding: 1em 5em;
	
		> form {
			font-size: 2em;
			display: flex;
			flex-direction: column;
			gap: 1.5em;
			align-items: center;
			justify-content: center;
	
			> div {
				display: flex;
				flex-direction: column;
				gap: 0.5em;

				> div {
					display: flex;
					flex-direction: column;
				}
			}
	
			button {
				font-family: akaDylanPlain;
				border: 0.05em solid #000;
				border-radius: 0.3em;
				padding: 0.1em 0.5em;
				font-size: 1.75em;
				background-color: #35a4ff;
			}
		}
	}
}

.user-image-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	.user-image {
		border-radius: 5em;
	}
}